<!doctype html>
<html class="no-js" lang="zxx">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Admin | People</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS here -->
  <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../assets/css/owl.carousel.min.css">
  <link rel="stylesheet" href="../../assets/css/slicknav.css">
  <link rel="stylesheet" href="../../assets/css/animate.min.css">
  <link rel="stylesheet" href="../../assets/css/magnific-popup.css">
  <link rel="stylesheet" href="../../assets/css/fontawesome-all.min.css">
  <link rel="stylesheet" href="../../assets/css/themify-icons.css">
  <link rel="stylesheet" href="../../assets/css/slick.css">
  <link rel="stylesheet" href="../../assets/css/nice-select.css">
  <link rel="stylesheet" href="../../assets/css/style.css">
  <!-- special file -->
  <link rel="stylesheet" href="../../assets/css/login-form.css">
  <link rel="stylesheet" href="../../assets/css/request-style.css">
</head>

<body>
  <!-- Preloader Start -->
  <div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
      <div class="preloader-inner position-relative">
        <div class="preloader-circle"></div>
        <div class="preloader-img pere-text">
          <img src="../../assets/img/logo/loder.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
  <!-- Preloader Start -->
  <header>
  </header>
  <main>
    <section id="history" class="d-flex align-items-center mt-50 mb-50">
      <div class="container display-logged-in ">
        <h2 class="row d-flex justify-content-center mb-10">ALL PEOPLE</h2>
        <div class="mini-nav mb-10" >
          <div class="container">
            <div class="row justify-content-start">
              <p class="col-xs-3 mr-150">Admin :  </p>
              <p class="col-xs-3 mr-150">Data-entry : </p>
              <p class="col-xs-3 mr-150">Normal : </p>
              <p class="col-xs-3"><a href="add-people.html" target="_blank" class="btn-link">Add New user</a></p>
            </div>
          </div>
        </div>
        <div class="mini-nav">
          <div class="container">
            <div class="row justify-content-start">
              <a href="" target="_self"><p class="col-xs-3 mr-150">&#10227;</p></a>
              <p class="col-xs-3 mr-150">1-<%=peoples.length %> out of <%=peoples.length %></p>
              <p class="col-xs-3">&#8592;</p>
              <p class="col-xs-3">&#8594;</p>
							<p class="col-xs-3 ml-150">
								<div class="dropdown">
									<button type="button" id="advanced-search" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										Advanced Search
									</button>
									<div class="dropdown-menu" aria-labelledby="advanced-search">
										<form class="px-4 py-3" method="POST" action="/admin/full-people/filter">
									    <div class="form-group d-flex justify-content-between">
												<label class="d-flex mt-10 mr-10">SortBy</label>
												<select id="sortby" class="default-select form-control">
													<option value="RegistrationDate" selected>Registration Date</option>
												  <option value="FullName">Full Name</option>
												  <option value="PID">PID</option>
												</select>
												<label class="d-flex ml-10 mt-10 mr-10 checkbox-inline"><input name="order" class="d-flex mt-2 mr-1" type="radio" value="asc">ascending</label>
												<label class="d-flex mr-10 mt-10 checkbox-inline"><input name="order" class="d-flex mt-2 mr-1" type="radio" value="desc" checked>descending</label>
									    </div>
									    <div class="form-group d-flex justify-content-between">
												<label class="d-flex mr-15" for="filter">Filters</label>
											
												<label class="d-flex mr-10 checkbox-inline"><input name="filter" class="d-flex mt-2 mr-1" type="radio" value="normal">Normal</label>
												<label class="d-flex mr-10 checkbox-inline"><input name="filter" class="d-flex mt-2 mr-1" type="radio" value="data-entry">Data-entry</label>
												<label class="d-flex mr-10 checkbox-inline"><input name="filter" class="d-flex mt-2 mr-1" type="radio" value="admin">Admin</label>
									    </div>
											<div class="form-group">
												<button type="submit" class="genric-btn primary small">Apply</button>
											</div>
									  </form>
									</div>
								</div>
							</p>
            </div>
          </div>
        </div>
        <div class="scroll-box">
          <table class="table table-striped record">
            <!-- start displaying records -->
            <!-- Person 1 -->
            <tr class="bold">
              <td class="bold">Profile</td>
              <td class="bold">Full Name</td>
              <td class="bold">PID</td>
              <td class="bold">User-Type</td>
              <td class="bold" >Date</td>
            </tr>

            <%for(var i=0;i<peoples.length;i++){%>
              <tr>
                <!-- pass the requestID to full-request.html which will than show every details of record -->
                <td><a href="/admin/full-people.html/<%=peoples[i].PID%>" target="_blank"><img src="../../assets/img/profile.png" alt=""></a></td>
                <td><%=peoples[i].full_name%></td>
                <td> <%=peoples[i].PID%></td>
                <td> <%=peoples[i].user_type%></td>
                <td> <%=('0'+(peoples[i].DOB.getDate())).slice(-2)%>-<%=('0'+(peoples[i].DOB.getMonth()+1)).slice(-2)%>-<%=peoples[i].DOB.getFullYear()%></td>
              </tr>
              <%}%>



          </table>
          <!-- All records ends here -->
        </div>
      </div>
    </section>
  </main>
  <footer>
  </footer>

  <!-- JS here -->
  <script src="../../assets/js/header-admin.txt" language="javascript" type="text/javascript"></script>
  <script src="..assets/js/footer-admin.txt" language="javascript" type="text/javascript"></script>
  <!-- All JS Custom Plugins Link Here here -->
  <script src="../../assets/js/vendor/modernizr-3.5.0.min.js"></script>
  <!-- Jquery, Popper, Bootstrap -->
  <script src="../../assets/js/vendor/jquery-1.12.4.min.js"></script>
  <script src="../../assets/js/popper.min.js"></script>
  <script src="../../assets/js/bootstrap.min.js"></script>
  <!-- Jquery Mobile Menu -->
  <script src="../../assets/js/jquery.slicknav.min.js"></script>

  <!-- Jquery Slick , Owl-Carousel Plugins -->
  <script src="../../assets/js/owl.carousel.min.js"></script>
  <script src="../../assets/js/slick.min.js"></script>
  <!-- One Page, Animated-HeadLin -->
  <script src="../../assets/js/wow.min.js"></script>
  <script src="../../assets/js/animated.headline.js"></script>
  <script src="../../assets/js/jquery.magnific-popup.js"></script>

  <!-- Nice-select, sticky -->
  <script src="../../assets/js/jquery.nice-select.min.js"></script>
  <script src="../../assets/js/jquery.sticky.js"></script>

  <!-- contact js -->
  <script src="../../assets/js/contact.js"></script>
  <script src="../../assets/js/jquery.form.js"></script>
  <script src="../../assets/js/jquery.validate.min.js"></script>
  <script src="../../assets/js/mail-script.js"></script>
  <script src="../../assets/js/jquery.ajaxchimp.min.js"></script>

  <!-- Jquery Plugins, main Jquery -->
  <script src="../../assets/js/plugins.js"></script>
  <script src="../../assets/js/main.js"></script>

</body>
</html>
