<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Admin Home </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS here -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/css/slicknav.css">
    <link rel="stylesheet" href="/assets/css/animate.min.css">
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/css/themify-icons.css">
    <link rel="stylesheet" href="/assets/css/slick.css">
    <link rel="stylesheet" href="/assets/css/nice-select.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- special file -->
    <link rel="stylesheet" href="/assets/css/login-form.css">
    <link rel="stylesheet" href="/assets/css/request-style.css">
</head>

<body>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="/assets/img/logo/loder.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
    </header>
    <main>
        <section class="login-form-area section-bg  pt-115 pb-120 fix">
            <div class="container">
                <div class="row justify-content-center">
                    <!-- login wrapper -->
                    <div class="col-12">
                        <div class="login-form-wrapper">
                            <!-- From title -->
                            <div class="row">
                                <div class="col-lg-12">
                                    <!-- Section Tittle -->
                                    <div class="section-tittle mb-50">
                                        <h2>Camp <%= request[0].BDCID %></h2>
                                        <p>See and Edit Camp Detail.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- form -->
                            <form action="#" method="post">
                                <table class="table table-striped record">
                                    <tr>
                                        <td>Camp Id</td>
                                        <td><%= request[0].BDCID %></td>
                                    </tr>
                                    <tr>
                                        <td>Start Date</td>
                                        <td><input type="date" value="<%=request[0].camp_start.getFullYear()%>-<%=('0'+(request[0].camp_start.getMonth()+1)).slice(-2)%>-<%=('0'+(request[0].camp_start.getDate())).slice(-2)%>"  required
                                                disabled class="editable"></td>
                                    </tr>
                                    <tr>
                                        <td>End Date</td>
                                        <td><input type="date" value="<%=request[0].camp_end.getFullYear()%>-<%=('0'+(request[0].camp_end.getMonth()+1)).slice(-2)%>-<%=('0'+(request[0].camp_end.getDate())).slice(-2)%>" required
                                                disabled class="editable"></td>
                                    </tr>
                                    <tr>
                                        <td>Location</td>
                                        <td><textarea style="width:500px;" name="location" disabled
                                                class="editable"><%= request[0].location %></textarea></td>
                                    </tr>
                                    <tr>
                                        <td>Total Blood Donated</td>
                                        <td>100</td>
                                    </tr>
                                    <tr>
                                        <td>Total People Visited</td>
                                        <td>110</td>
                                    </tr>
                                    <tr>
                                        <td>Total People Who Donated</td>
                                        <td>100</td>
                                    </tr>

                                    <tr>
                                        <td>Detailed Donation Info.</td>
                                        <td><a href="/admin-donation.html/<%=request[0].BDCID%>" target="_self">link to donations</a></td>
                                    </tr>
                                    <tr>
                                        <td>All Blood Bags Info.</td>
                                        <td><a href="admin-bloodbag.html" target="_self">link to bloodbags</a></td>
                                    </tr>
                                    <tr>
                                        <td>Comments</td>
                                        <td><textarea style="width:500px;" name="purpose" disabled
                                                class="editable"><%= request[0].comments %></textarea></td>
                                    </tr>

                                </table>
                                <div class="container">
                                    <div class="row justify-content-between">
                                        <button type="button" onclick="edit_btn()" class="genric-btn info circle"
                                            id="btn-edit">Edit</button>
                                        <button type="button" onclick="cancel_btn()" class="genric-btn info"
                                            id="btn-cancel">Cancel</button>
                                        <button type="button" onclick="update_btn()" class="genric-btn info"
                                            id="btn-update">Update</button>
                                        <button type="button" onclick="delete_btn()" class="genric-btn danger"
                                            id="btn-delete">Delete</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
    </footer>

    <!-- JS here -->
    <!-- header and footer include -->
    <script src="assets/js/plain-header-admin.txt" language="javascript" type="text/javascript"></script>
    <script src="assets/js/footer-admin.txt" language="javascript" type="text/javascript"></script>

    <!-- custom script databse changes in this .js files -->
    <script src="/assets/js/record-editor.js"></script>
    <script src="/assets/js/full-request-editor.js"></script>
    <!-- All JS Custom Plugins Link Here here -->
    <script src="/assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="/assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/slick.min.js"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="/assets/js/wow.min.js"></script>
    <script src="/assets/js/animated.headline.js"></script>
    <script src="/assets/js/jquery.magnific-popup.js"></script>

    <!-- Nice-select, sticky -->
    <script src="/assets/js/jquery.nice-select.min.js"></script>
    <script src="/assets/js/jquery.sticky.js"></script>

    <!-- contact js -->
    <script src="/assets/js/contact.js"></script>
    <script src="/assets/js/jquery.form.js"></script>
    <script src="/assets/js/jquery.validate.min.js"></script>
    <script src="/assets/js/mail-script.js"></script>
    <script src="/assets/js/jquery.ajaxchimp.min.js"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="/assets/js/plugins.js"></script>
    <script src="/assets/js/main.js"></script>

</body>

</html>
