<!doctype html>
<html class="no-js" lang="zxx">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Request Details</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- CSS here -->
	<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/assets/css/slicknav.css">
	<link rel="stylesheet" href="/assets/css/animate.min.css">
	<link rel="stylesheet" href="/assets/css/magnific-popup.css">
	<link rel="stylesheet" href="/assets/css/fontawesome-all.min.css">
	<link rel="stylesheet" href="/assets/css/themify-icons.css">
	<link rel="stylesheet" href="/assets/css/slick.css">
	<link rel="stylesheet" href="/assets/css/nice-select.css">
	<link rel="stylesheet" href="/assets/css/style.css">
	<!-- special file -->
	<link rel="stylesheet" href="/assets/css/login-form.css">
	<link rel="stylesheet" href="/assets/css/request-style.css">
</head>

<body>
	<!-- Preloader Start -->
	<div id="preloader-active">
		<div class="preloader d-flex align-items-center justify-content-center">
			<div class="preloader-inner position-relative">
				<div class="preloader-circle"></div>
				<div class="preloader-img pere-text">
					<img src="/assets/img/logo/loder.jpg" alt="">
				</div>
			</div>
		</div>
	</div>
	<!-- Preloader Start -->
	<header>
	</header>
	<main>
		<section class="login-form-area section-bg  pt-115 pb-120 fix">
			<div class="container">
				<div class="row justify-content-center">
					<!-- login wrapper -->
					<div class="col-12">
						<div class="login-form-wrapper">
							<!-- From title -->
							<div class="row">
								<div class="col-lg-12">
									<!-- Section Tittle -->
									<div class="section-tittle mb-50">
										<h2>Request <%= request[0].REID %></h2>
										<p>Verify request and take appropriate step.</p>
									</div>
								</div>
							</div>
							<!-- form -->
							<form  action="/edit/edit-request" method="post">
								<table class="table table-striped record">

									
										<input type="hidden" style="width:500px;" name="REID" value="<%=request[0].REID%>"   >
									


									<tr>
										<td>Request Date</td>
										<td><%=request[0].request_date%></td>
									</tr>
									<!-- <tr>
										<td>Phone Number</td>
										<td>+9154151514</td>
									</tr> -->
									<tr>
										<td>Receiver's Blood Type</td>
										<td><input type="text" name="blood_group" size="10" disabled placeholder="Blood Type" value="<%=request[0].blood_group%>" required  class="editable"></td>
									</tr>
									<tr>
										<td>Requested Quantity</td>
										<td><input type="text" name="quantity" disabled size="10" placeholder="<%=request[0].quantity%>" value="<%=request[0].quantity%>" disabled required class="editable"></td>
									</tr>
									<tr>
										<td>Valid Document / Prescription</td>
										<td><a href="<%=request[0].uploaded_file%>" target="_self"><%=request[0].uploaded_file%></a></td>
									</tr>
									<tr>
										<td>Account Requested</td>
										<td><a href="/admin/full-people.html/20" target="_self">link to profile</a></td>
									</tr>
									<tr>
										<td>Purpose</td>
										<td><textarea style="width:500px;" name="purpose" disabled class="editable">Purpose Entered in request by user</textarea></td>
									</tr>
									<tr>
										<td>Accept Request</td>
										<td>
											<input type="radio" name="status" id="accept" name="status" value="1" disabled required class="editable" checked >
											<label for="accept"  class="mr-50">Accept</label>
											<input type="radio" name="status" id="reject" name="status" disabled value="-1" required class="editable" >
											<label for="reject">Reject</label>
										</td>
									</tr>
									<tr>
										<td>Given Bloodbag</td>
										<td>0</td>
									</tr>
									<tr>
										<td>Assigned Bloodbag</td>
										<td><a href="#" target="_self">link to received-record</a></td>
									</tr>
								</table>
								<div class="container">
									<div class="row justify-content-between">
										<button type="button" onclick="edit_btn()" class="genric-btn info circle" id="btn-edit">Edit</button>
										<button type="submit" onclick="return confirm('Do you really want to update?');" name="submit" value="update"  class="genric-btn info" id="btn-update">Update</button>
										<button type="submit" onclick="return confirm('Do you really want to delete?');" name="submit" value="delete"  class="genric-btn danger" id="btn-delete">Delete</button>
										<button type="button" onclick="cancel_btn()" class="genric-btn info" id="btn-cancel">Cancel</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>


	<footer>
	</footer>

	<!-- JS here -->
	<!-- header and footer include -->
	<script src="/assets/js/plain-header-admin.txt" language="javascript" type="text/javascript"></script>
	<script src="/assets/js/footer-admin.txt" language="javascript" type="text/javascript"></script>

	<!-- custom script databse changes in this .js files -->
	<script src="/assets/js/record-editor.js"></script>
	<script src="/assets/js/full-request-editor.js"></script>

	<!-- All JS Custom Plugins Link Here here -->
	<script src="/assets/js/vendor/modernizr-3.5.0.min.js"></script>
	<!-- Jquery, Popper, Bootstrap -->
	<script src="/assets/js/vendor/jquery-1.12.4.min.js"></script>
	<script src="/assets/js/popper.min.js"></script>
	<script src="/assets/js/bootstrap.min.js"></script>
	<!-- Jquery Mobile Menu -->
	<script src="/assets/js/jquery.slicknav.min.js"></script>

	<!-- Jquery Slick , Owl-Carousel Plugins -->
	<script src="/assets/js/owl.carousel.min.js"></script>
	<script src="/assets/js/slick.min.js"></script>
	<!-- One Page, Animated-HeadLin -->
	<script src="/assets/js/wow.min.js"></script>
	<script src="/assets/js/animated.headline.js"></script>
	<script src="/assets/js/jquery.magnific-popup.js"></script>

	<!-- Nice-select, sticky -->
	<script src="/assets/js/jquery.nice-select.min.js"></script>
	<script src="/assets/js/jquery.sticky.js"></script>

	<!-- contact js -->
	<script src="/assets/js/contact.js"></script>
	<script src="/assets/js/jquery.form.js"></script>
	<script src="/assets/js/jquery.validate.min.js"></script>
	<script src="/assets/js/mail-script.js"></script>
	<script src="/assets/js/jquery.ajaxchimp.min.js"></script>

	<!-- Jquery Plugins, main Jquery -->
	<script src="/assets/js/plugins.js"></script>
	<script src="/assets/js/main.js"></script>

</body>
</html>
