<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Donation Record Details</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS here -->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../assets/css/slicknav.css">
    <link rel="stylesheet" href="../assets/css/animate.min.css">
    <link rel="stylesheet" href="../assets/css/magnific-popup.css">
    <link rel="stylesheet" href="../assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="../assets/css/themify-icons.css">
    <link rel="stylesheet" href="../assets/css/slick.css">
    <link rel="stylesheet" href="../assets/css/nice-select.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <!-- special file -->
    <link rel="stylesheet" href="../assets/css/login-form.css">
    <link rel="stylesheet" href="../assets/css/request-style.css">
</head>

<body>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="../assets/img/logo/loder.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
    </header>
    <main>
        <section class="login-form-area section-bg  pt-115 pb-120 fix">
            <div class="container">
                <div class="row justify-content-center">
                    <!-- login wrapper -->
                    <div class="col-12">
                        <div class="login-form-wrapper">
                            <!-- From title -->
                            <div class="row">
                                <div class="col-lg-12">
                                    <!-- Section Tittle -->
                                    <div class="section-tittle mb-50">
                                        <h2>Donated Blood Record</h2>
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                            <!-- form -->
                            <form action="/edit/edit-donation" method="post">
                                <input type="hidden" style="width:500px;" name="DID" value="<%=DID%>"   >
                                <table class="table table-striped record">
                                    <tr>
                                        <td>Donation Number</td>
                                        <td><%=donation[0].DID%></td>
                                    </tr>
                                    <tr>
                                        <td>Donor's Name</td>
                                        <td><%=donation[0].full_name%></td>
                                    </tr>
                                    <tr>
                                        <td>Donated at</td>
                                        <td>Blood Camp/ Bank Name</td>
                                    </tr>
                                    <tr>
                                        <td>Blood Bag ID</td>
                                        <td><input type="text" size="10" name="bbid"placeholder="<%=donation[0].BBID%>" value="<%=donation[0].BBID%>" required disabled class="editable"></td>
                                    </tr>
                                   
                                    <tr>
										<td>Blood Type</td>
										<td><input type="text" size="10" name="blood_type"placeholder="<%=donation[0].blood_type%>" value="<%=donation[0].blood_type%>" required disabled class="editable"></td>
									</tr>
                                    <tr>
                                        <td>Donation Date</td>
                                        <td><input type="date" size="10" name="date" value="<%=donation[0].donation_date%>" required disabled class="editable"></td>
                                    </tr>
                                    <tr>
                                        <td><b>Test Results</b></td>
                                    </tr>
                                    <tr>
										<td>Blood Test 1 </td>
										<td><input type="text" size="10" name="blood_test1" placeholder="test 1" value="<%=donation[0].blood_test1%>" required disabled class="editable"></td>
									</tr>
                                    <tr>
										<td>Blood Test 2  </td>
										<td><input type="text" size="10"name="blood_test2" placeholder="test 2" value="<%=donation[0].blood_test2%>" required disabled class="editable"></td>
									</tr>
                                    <tr>
										<td>Blood Test 3 </td>
										<td><input type="text" size="10"name="blood_test3" placeholder="test 3" value="<%=donation[0].blood_test3%>" required disabled class="editable"></td>
									</tr>
                                </table>
                                <div class="container">
                                    <div class="row justify-content-between">
                                        <button type="button" onclick="edit_btn()" class="genric-btn info circle" id="btn-edit">Edit</button>
                                        <button type="button" onclick="cancel_btn()" class="genric-btn info" id="btn-cancel">Cancel</button>
                                        <button type="submit"name="submit" value="update" onclick="return confirm('Do you really want to update?');" class="genric-btn info" id="btn-update">Update</button>
                                        <button type="submit" name="submit" value="delete" onclick="return confirm('Do you really want to delete?');" class="genric-btn danger" id="btn-delete">Delete</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
    </footer>

    <!-- JS here -->
    <!-- header and footer include -->
    <script src="../assets/js/plain-header-admin.txt" language="javascript" type="text/javascript"></script>
    <script src="../assets/js/footer-admin.txt" language="javascript" type="text/javascript"></script>
    <!-- custom script databse changes in this .js files -->
    <script src="../assets/js/record-editor.js"></script>
    <script src="../assets/js/full-donation-editor.js"></script>
    <!-- All JS Custom Plugins Link Here here -->
    <script src="../assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="../assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="../assets/js/popper.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="../assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="../assets/js/owl.carousel.min.js"></script>
    <script src="../assets/js/slick.min.js"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="../assets/js/wow.min.js"></script>
    <script src="../assets/js/animated.headline.js"></script>
    <script src="../assets/js/jquery.magnific-popup.js"></script>

    <!-- Nice-select, sticky -->
    <script src="../assets/js/jquery.nice-select.min.js"></script>
    <script src="../assets/js/jquery.sticky.js"></script>

    <!-- contact js -->
    <script src="../assets/js/contact.js"></script>
    <script src="../assets/js/jquery.form.js"></script>
    <script src="../assets/js/jquery.validate.min.js"></script>
    <script src="../assets/js/mail-script.js"></script>
    <script src="../assets/js/jquery.ajaxchimp.min.js"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="../assets/js/plugins.js"></script>
    <script src="../assets/js/main.js"></script>

</body>
</html>
