<!doctype html>
<html class="no-js" lang="zxx">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Admin Home </title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- CSS here -->
	<link rel="stylesheet" href="../assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="../assets/css/owl.carousel.min.css">
	<link rel="stylesheet" href="../assets/css/slicknav.css">
	<link rel="stylesheet" href="../assets/css/animate.min.css">
	<link rel="stylesheet" href="../assets/css/magnific-popup.css">
	<link rel="stylesheet" href="../assets/css/fontawesome-all.min.css">
	<link rel="stylesheet" href="../assets/css/themify-icons.css">
	<link rel="stylesheet" href="../assets/css/slick.css">
	<link rel="stylesheet" href="../assets/css/nice-select.css">
	<link rel="stylesheet" href="../assets/css/style.css">
	<!-- special file -->
	<link rel="stylesheet" href="../assets/css/login-form.css">
	<link rel="stylesheet" href="../assets/css/request-style.css">
</head>

<body>
	<!-- Preloader Start -->
	<div id="preloader-active">
		<div class="preloader d-flex align-items-center justify-content-center">
			<div class="preloader-inner position-relative">
				<div class="preloader-circle"></div>
				<div class="preloader-img pere-text">
					<img src="../assets/img/logo/loder.jpg" alt="">
				</div>
			</div>
		</div>
	</div>
	<!-- Preloader Start -->
	<header>
	</header>
	<main>
		<section class="pt-115 pb-120 fix" id="back-texture">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-6 mb-40">
						<div class="card" style="width: 26rem;">
						  <div class="card-body">
						    <h3 class="card-title">Requests</h3>
						    <p class="card-text">
								<%for(var i=0;i<reqcount.length;i++){%>
									<%if(reqcount[i].accepted==0){%>
									<%=reqcount[i].reqs%>
									<%}%>

								<%}%> new requests.</p>
								<p class="card-text">
									<%for(var i=0;i<reqcount.length;i++){%>
										<%if(reqcount[i].accepted==1){%>
											<%=reqcount[i].reqs%>
												<%}%>

													<%}%>
									 accepted requests.</p>
								<p class="card-text">
									<%for(var i=0;i<reqcount.length;i++){%>
										<%if(reqcount[i].accepted==-1){%>
											<%=reqcount[i].reqs%>
												<%}%>

													<%}%>
									 rejected requests.</p>
								<a href="admin-request.html" >Requests</a>
						  </div>
						</div>
					</div>
					<div class="col-6 mb-40">
						<div class="card" style="width: 26rem;">
						  <div class="card-body">
						    <h3 class="card-title">Donation Camps</h3>
						    <p class="card-text">Ongoing camps : <%=ongoing[0].reqs%></p>
						    <p class="card-text">Upcoming camps : <%=oncoming[0].reqs%></p>
						    <p class="card-text">Ended camps : <%=ended[0].reqs%></p>
								<a href="admin-camps.html" >Donation Camps</a>
						  </div>
						</div>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-6">
						<div class="card" style="width: 26rem;">
						  <div class="card-body">
						    <h3 class="card-title">Accounts</h3>
						    <p class="card-text">Normal Users :
								<%for(var i=0;i<peoplecount.length;i++){%>
									<%if(peoplecount[i].user_type=='normal'){%>
										<%=peoplecount[i].reqs%>
											<%}%>

												<%}%>
							</p>
						    <p class="card-text">Admins :
								<%for(var i=0;i<peoplecount.length;i++){%>
									<%if(peoplecount[i].user_type=='admin'){%>
										<%=peoplecount[i].reqs%>
											<%}%>

												<%}%>
							</p>
						    <p class="card-text">Data-entry Users : <%for(var i=0;i<peoplecount.length;i++){%>
								<%if(peoplecount[i].user_type=='data-entry'){%>
									<%=peoplecount[i].reqs%>
										<%}%>

											<%}%></p>
								<a href="admin-people.html">People</a>
						  </div>
						</div>
					</div>
					<div class="col-6">
						<div class="card" style="width: 26rem;">
							<div class="card-body">
								<h3 class="card-title">Blood Bank</h3>
								<table class="table record">
									<tr>
										<td>A+ : 102</td>
										<td>AB+ : 235</td>
										<td>B+ : 233</td>
										<td>O+ : 312</td>
									</tr>
									<tr>
											<td>A- : 12</td>
										<td>AB- : 1</td>
										<td>B- : 245</td>
										<td>O- : 13</td>
									</tr>
								</table>
								<a href="admin-bloodbank.html" >Blood Bank</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
	<footer>
	</footer>

	<!-- JS here -->
	<!-- header and footer include -->
	<script src="../assets/js/header-admin.txt" language="javascript" type="text/javascript"></script>
	<script src="../assets/js/footer-admin.txt" language="javascript" type="text/javascript"></script>


	<!-- All JS Custom Plugins Link Here here -->
	<script src="../assets/js/vendor/modernizr-3.5.0.min.js"></script>
	<!-- Jquery, Popper, Bootstrap -->
	<script src="../assets/js/vendor/jquery-1.12.4.min.js"></script>
	<script src="../assets/js/popper.min.js"></script>
	<script src="../assets/js/bootstrap.min.js"></script>
	<!-- Jquery Mobile Menu -->
	<script src="../assets/js/jquery.slicknav.min.js"></script>

	<!-- Jquery Slick , Owl-Carousel Plugins -->
	<script src="../assets/js/owl.carousel.min.js"></script>
	<script src="../assets/js/slick.min.js"></script>
	<!-- One Page, Animated-HeadLin -->
	<script src="../assets/js/wow.min.js"></script>
	<script src="../assets/js/animated.headline.js"></script>
	<script src="../assets/js/jquery.magnific-popup.js"></script>

	<!-- Nice-select, sticky -->
	<script src="../assets/js/jquery.nice-select.min.js"></script>
	<script src="../assets/js/jquery.sticky.js"></script>

	<!-- contact js -->
	<script src="../assets/js/contact.js"></script>
	<script src="../assets/js/jquery.form.js"></script>
	<script src="../assets/js/jquery.validate.min.js"></script>
	<script src="../assets/js/mail-script.js"></script>
	<script src="../assets/js/jquery.ajaxchimp.min.js"></script>

	<!-- Jquery Plugins, main Jquery -->
	<script src="../assets/js/plugins.js"></script>
	<script src="../assets/js/main.js"></script>

</body>
</html>
